/* CSS Reset Lines */

* {
	box-sizing: border-box;
}

html,
body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
  font-family: 'Montserrat', sans-serif;

}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li {
	margin: 0;
	padding: 0;
}

/* end of CSS Reset Lines */

.clearfix:after {
	display: block;
	content: '';
	clear: both;

}

.container {
  clear: both;
	padding-left: 64px;
	padding-right: 64px;
}

section h2{
	padding-top: 10px;

	margin:0 0 1em;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
}

section h3{
  margin: 0 0 0.5em;
  font-weight: bold;

}

.button{
	display: inline-block;
	border: 1px solid;
	padding: 10px 15px;
	border-radius: 10px;
  text-decoration: none;
}

.button:hover{
	background: #0000ff;
	color: #ffffff;
}

/* Header */

#header {
	height: 40px;

	padding-left: 64px;
	padding-right: 64px;

	background-color: #000;

	position: fixed;
	width: 100%;

  /*position: relative;*/
	z-index: 2;
}


.logo {
	float: left;
}

.logo-image{
	height: 40px;
	width: auto;
}

.nav {
	float: right;
}

.nav li{
	float: left;
	list-style-type: none;
}

.nav a {
	display: inline-block;
	padding: 12px;
	color: #fff;

  text-decoration: none;
}

.nav a:hover {
	color: #ff9d00;
}

/* Home page background */

.home_bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
  background-image: url("../images/Ocean with moving waves.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.overlay {
  /*background: rgba(0, 0, 0, 0.5);*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.center-text {

	margin: auto;
	color: #ffffff;
  text-shadow: 2px 2px #0f0f0f;
	font-size: 2em;
	position: relative;
	z-index: 1;
}

/* Second Section */

.summary{
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
}

.col-left{
	width: 50%;
}

.col-right{
	width: 50%;
	padding: 40px;
}

.avatar{
	width: 100%;
	height: auto;
}

.skills {
	margin: 2em 0;
  list-style-type: none;

}

.subtitle{
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0px;
}

/* Third Section - What I Offer */
.my-services {
	background-color: #eeeeee;
  padding-bottom: 30px;

}
.row-container{
    background-color: #eeeeee;
}

.service-content:before {
  clear: both;
  display: flex;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

.service-content{
	float: left;
  width: 33%;
	background-color: #eeeeee;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  text-justify: inter-word;
}



.srv1 {
	font-size: 20px;
	padding-bottom: 30px;

}

.srv2 {
	font-size: 20px;
	padding-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.srv3 {
	font-size: 20px;
	padding-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
}



/* 4th Section - My Resume */
.my-resume{
	float:left;
  flex-direction: column;
  padding-bottom: 50px;

}


.resume-container{
	float: left;
	width: 50%;

}

.resume-items{
  padding-bottom: 50px;
}

.name{
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}

/* 5th Section - My Quotes */
.quotes-bg {
	display: flex;
	justify-content: center;
  background-image: url(../images/resumepic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 50%;
}

.quote-center {
  margin: auto;
	color: #ffffff;
	font-size: 1em;
	position: relative;
	z-index: 1;
	text-align: center;
}

/* 6th Section - My Latest Jobs */
.job-col{
	float:left;
	width: 33%;


}

.job-col a {
  display: block;
  margin-bottom: 14px;
  position: relative;

  top: 0;
  left: 0;

}

.job-col img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;

}

.job-col a:hover {
  box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  top: -5px;
}

/* Contact Form */
.contact-form {
	display:block;
  width: 100%;
  min-width: 0;
  margin: 0 auto;
  text-align: center;
}


.contact-form .form-input {
  float: left;
  width: 50%;
  padding: 0 15px;
  padding-bottom: 50px;
}

.form-style {
	display: inline-block;
	border: none;
	border-bottom: 1px solid;
	padding: 10px 15px;
	outline: none;
  width: 100%;

	/*border-radius: 10px;*/

}

.job-image {
  position: relative;
  display: block;
  max-width: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
  transition: all .5s ease;
}

.stamp-image{
  width: 50px;
  height: 50px;

}
  /* Tablet and mobile */ 



/*  @media screen and (min-width: 768px) and (max-width: 1000px) {
  	.container{
  		padding: 100px 40px;
  	}
  }*/

  /*
  @media screen and ( max-width: 450px) { 
    .job-col {
  	  width: 100%;
    }
  }
  */

  @media screen and ( max-width: 768px) { 

   .col-left,
   .col-right{
	   width: 100%;
  } 

  .col-right{
  	padding-left: 0;
  	padding-top: 40px;
  }

  .service-content{
  	width: 100%;
  	padding: 0;
  	margin-top: 2.5em;
    text-align: center;

  }

  .resume-container{
  	width: 100%;
  	padding: 0;
  	margin-top: 2.5em;
  	margin-bottom: ;
  	padding-left: 20px;

  }

  .job-col {
  	width: 50%;
  }

  .contact-form{
  	width: 100%;
  	min-width: 0;

  }
  .contact-form .form-input {
  	width: 100%;
    float:none;
    padding-bottom: 20px;
  }
}


